<!DOCTYPE html> 
<html> 
  <head> 
    <title>Mobile Player</title> 

    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <link href="/jQuery.jPlayer.2.1.0/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
    <script type="text/javascript" src="/jQuery.jPlayer.2.1.0/js/jquery.jplayer.min.js"></script>   


  {% block head %}{% endblock %}

    </head> 

    <body> 
    {% block content %}
        main content
{% endblock %}
      </body>
    </html>
