<div  data-role="page" id='home'> 
  <div data-role="header"><h1>Mobile player ...</h1></div> 
  <div data-role="content">
    <p>This is the homepage. You can navigate to a my own <a href='#detail'>detail page for further information</a></p>

  </div> 
  <div data-role="footer"><h4>Page Footer</h4>...</div> 
</div>