<div  data-role="page" id='home'> 
  <div data-role="header"><h1>Mobile player ...</h1></div> 
  <div data-role="content">
    <p>Reproductor d'audio en streaming per TwocatsPelGospel. Podeu navegar a la pàgina detall per
      reproduir alguna cançoneta! :) ... a veure si sona:</p>

    <ul>
      <li><a href='#detail'>streaming</a>... encara no estic segur de quins navegadors ho suporten</li>
    </ul>
  </div> 
  <div data-role="footer"><h4>Page Footer</h4>...</div> 
</div>